*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#overlay{
     backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3); /* biar keliatan efeknya */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 998;
  display: none;
}

body{
    background-color: black;
    margin-bottom: 5%;
    height: 100%;

h1{
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
}

#sectioncara{
    display: flex;
    align-items: center;
    justify-content: center;
}

#papancara{
    width: 40%;
    padding: 2%;
    position: fixed;
    top: 30%;
    border: white solid 2px;
    border-radius: 5px;
    display: none;
    z-index: 999;
    background-color: red;
}

span{
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    left: 94%;
    top: 5%;
    cursor: pointer;
}

span:hover{
    color: black;
}

ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

.tutor:hover{
color: red;
}

.kamera{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3%;
}

#btnfoto{
    padding: 4%;
    border-radius: 50px;
    border: none;
}

button:hover{
    background-color: gray;
    cursor: pointer;
}

video{
    width: 40%;
    border: white solid 5px;
    height: 40%;
    max-height: 40%;
}

img{
    border: white 5px solid;
    display: none;
    color: red;
}

.hasilfoto{
 padding-top: 10%;
 padding-bottom: 3%;
 display: none;
}

#hasil{
    margin-bottom: 5%;
    width: 40%;
}

#inputnama{
    color: black;
    margin-left: 0%;
    padding: 1%;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 1%;
    padding-left: 2%;
    outline: none;
}

input:invalid{
    color: red;
}

#inputtempat{
 color: black;
    margin-left: 0%;
    padding: 1%;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 1%;
    padding-left: 2%;
    outline: none;
}

#inputl{
        color: black;
    margin-left: 0%;
    padding: 1%;
    width: 20%;
    border-radius: 10px;
    margin-bottom: 1%;
    padding-left: 2%;
}

label{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1%;
}

#inputpermohonan{
    width: 55%;
    padding: 2%;
    border-radius: 10px;
    color: black;
    outline: none;
}

#btnmohon{
    padding: 2%;
    width: 30%;
    border-radius: 10px;
    color: black;
    margin-top: 3%;
    font-weight: bold;
    align-self: center;
    font-size: larger;
}

#btnmohon:hover{
background-color: red;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

svg{
    height: 40px;
    position: fixed;
    top: 50%;
    color: white;
    left: 50%;
    animation: spin 1.5s linear infinite;
    display: none;
}
}

@keyframes spin{
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width: 600px) {
    video{
        width: 98% !important;
    }

    #papancara{
        width: 80% !important;
        padding: 2% 4% !important;
    }

    span{
        top: 1% !important;
    }
}

@media(max-width: 600px){
    #btnfoto{
        padding: 8% !important;
    }

    #hasil{
        width: 80% !important;
    }

    input{
        padding: 2% !important ;
    }
}